body {  
  background: url(DrazzardSword.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-color: rgb(30, 25, 35);
}

.bg-purple {
	background-color: #A26FF9 !important;
	border-color: #A26FF9 !important;
}
.border-purple { border-color: #A26FF9 !important; }
.c-purple { color: #A26FF9 !important; }

.jumbo {
	padding-top: 100px !important;
	padding-bottom: 50px !important;
}
#bysimeon {
	color: #A26FF9 !important;
	border-color: #A26FF9 !important;
}

#screenshots {
	padding: 0px 0px 50px;
}