body {  
  background: url(DrazzardSword.png) no-repeat bottom center fixed; 
  background-color: rgb(30, 25, 35);
}

html, body {
	height: 100%;
    overflow: scroll;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

h2 {
	font-weight: 900;
}

.topmost {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

#downloads {
	margin-top: 100px;
}

#screenshots {
	margin-top: 100px;
}

a:link {
    color: #333333;
}
a:visited {
    color: #333333;
}
a:hover {
    color: #333333;
}
a:active {
    color: #333333;
}

.bluelink:link {
	color: #79D8F8;
}
.bluelink:visited {
	color: #79D8F8;
}
.bluelink:hover {
	color: #79D8F8;
}
.bluelink:active {
	color: #79D8F8;
}

.btn {
	width: 134px;
	font-size: 14px;
}

@media (max-width: 400px) {
	.btn {
		width: 100px;
		font-size: 11px;
	}
}